In [1]:
import pandas as pd
import numpy as np

In [24]:
posts = pd.read_csv("Post.csv")
vehicleinfos = pd.read_csv("VehicleInfo.csv")

In [25]:
posts.rename(columns={"ID_VehicleInfo": "infoid"}, inplace=True)
posts

,Title,Content,Pricetag,Image,City_name,infoid,ID_City
0,Yamaha Latte 2020,Latte 2020 k&yacute; ngay chủ \nOdo chuẩn gần ...,35000000,https://cdn.okxe.vn/products/913/1113913/11139...,Tp. Hồ Chí Minh,1,50
1,SYM Angel 110 2005,Cầm Đồ Ho&agrave;ng Thắng Thanh L&yacute; Xe :...,4500000,https://cdn.okxe.vn/products/944/1102944/11029...,Tp. Hồ Chí Minh,2,50
2,Harley Davidson Forty-Eight Special 2019,XE MOTO PH&Acirc;N KHỐI LỚN CỰC HIẾM - Harley ...,435000000,https://cdn.okxe.vn/products/376/1069376/10693...,Tp. Hồ Chí Minh,3,50
3,Harley Davidson Street 750 2015,‼️ MOTOR HARLEY DAVIDSON STREET 750 CH&Iacute;...,178000000,https://cdn.okxe.vn/products/79/1012079/101207...,Tp. Hồ Chí Minh,4,50
4,Yamaha Exciter 150 2017,- Yamaha exciter 150\n- biển số th&agrave;nh p...,27500000,NaN,Tp. Hồ Chí Minh,5,50
...,...,...,...,...,...,...,...
251,Yamaha Exciter 150 2018,"M&aacute;y m&oacute;c nguy&ecirc;n bản, h&igra...",21800000,https://cdn.okxe.vn/products/605/1195605/11956...,Tp. Hà Nội,252,1
252,Benelli TNT 125 2019,"M&igrave;nh đang muốn đổi xe, l&ecirc;n cần b&...",15000000,https://cdn.okxe.vn/products/604/1195604/11956...,Tp. Hà Nội,253,1
253,Honda Wave Alpha 50 2011,"b&aacute;n wave 50 hq li&ecirc;n doanh, đẹp mớ...",7500000,https://cdn.okxe.vn/products/603/1195603/11956...,Tp. Hồ Chí Minh,254,50
254,Honda Air Blade 110 2011,M&igrave;nh đang cần b&aacute;n chiếc xe n&agr...,11000000,https://cdn.okxe.vn/products/602/1195602/11956...,Tp. Hà Nội,255,1
255,Suzuki GZ 150A 2020,M&igrave;nh đang cần b&aacute;n chiếc xe n&agr...,48000000,https://cdn.okxe.vn/products/601/1195601/11956...,Tp. Hà Nội,256,1

In [26]:
vehicleinfos

,infoid,Vehicle_name,Odometer,License_plate,Cubic_power,Manufacture_year,ID_VehicleBrand,ID_VehicleLineup,Condition,ID_VehicleType,ID_Color
0,1,Yamaha Latte,10000,NaN,125.0,202011,40,1711,2,1,10
1,2,SYM Angel 110,100000,NaN,110.0,200504,35,438,2,2,13
2,3,Harley Davidson Forty-Eight Special,5000,NaN,1200.0,201912,13,115,2,3,3
3,4,Harley Davidson Street 750,5000,NaN,750.0,201503,13,1231,2,3,3
4,5,Yamaha Exciter 150,30000,NaN,149.7,201706,40,535,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...
251,252,Yamaha Exciter 150,5000,NaN,149.7,201812,40,535,2,2,15
252,253,Benelli TNT 125,5000,NaN,124.8,201901,3,15,2,2,3
253,254,Honda Wave Alpha 50,30000,NaN,100.0,201112,15,1055,2,2,8
254,255,Honda Air Blade 110,5000,NaN,108.0,201101,15,148,2,1,10
255,256,Suzuki GZ 150A,5000,NaN,149.0,202001,34,414,2,2,10

In [27]:
completedposts = posts.set_index("infoid").join(vehicleinfos.set_index("infoid"))

In [33]:
completedposts['Manufacture_year'] = completedposts['Manufacture_year'] // 100
completedposts['Cubic_power'] = completedposts['Cubic_power'].round()

In [34]:
completedposts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256 entries, 1 to 256
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             256 non-null    object
 1   Content           256 non-null    object
 2   Pricetag          256 non-null    int64
 3   Image             255 non-null    object
 4   City_name         256 non-null    object
 5   ID_City           256 non-null    int64
 6   Vehicle_name      256 non-null    object
 7   Odometer          256 non-null    int64
 8   License_plate     0 non-null      float64
 9   Cubic_power       252 non-null    float64
 10  Manufacture_year  256 non-null    int64
 11  ID_VehicleBrand   256 non-null    int64
 12  ID_VehicleLineup  256 non-null    int64
 13  Condition         256 non-null    int64
 14  ID_VehicleType    256 non-null    int64
 15  ID_Color          256 non-null    int64
dtypes: float64(2), int64(9), object(5)
memory usage: 42.1+ KB

In [36]:
completedposts.sample(5)

,Title,Content,Pricetag,Image,City_name,ID_City,Vehicle_name,Odometer,License_plate,Cubic_power,Manufacture_year,ID_VehicleBrand,ID_VehicleLineup,Condition,ID_VehicleType,ID_Color
infoid,,,,,,,,,,,,,,,,
185,Honda Super Cub 50 2020,Gi&aacute; đ&igrave;nh ko c&oacute; nhu cầu sử...,8000000,https://cdn.okxe.vn/products/676/1195676/11956...,Tp. Hà Nội,1,Honda Super Cub 50,5000,NaN,49.0,2020,15,133,2,2,3
88,Honda Air Blade 110 2014,Xe đăng k&yacute; ch&iacute;nh chủ từ mới m&aa...,13000000,https://cdn.okxe.vn/products/783/1195783/11957...,Tp. Hà Nội,1,Honda Air Blade 110,5000,NaN,108.0,2014,15,148,2,1,1
38,Yamaha Janus 2019 2022,🌎 Website : xemaytuananh.com/honda\n🌻🌻#𝑿𝑬_𝑴𝑨́𝒀...,33900000,https://cdn.okxe.vn/products/834/1195834/11958...,Tp. Hà Nội,1,Yamaha Janus 2019,5000,NaN,125.0,2022,40,525,2,1,10
54,Yamaha NVX 155 ABS 2017,#XE_M&Aacute;Y_CŨ_VĂN_THAO_CH&Agrave;O_B&Aacut...,30500000,https://cdn.okxe.vn/products/817/1195817/11958...,Tp. Hà Nội,1,Yamaha NVX 155 ABS,20000,NaN,155.0,2017,40,542,2,1,1
217,Yamaha Janus 2019,"h&igrave;nh thức đẹp mới phong ph&uacute;, xe ...",18000000,https://cdn.okxe.vn/products/643/1195643/11956...,Tp. Hà Nội,1,Yamaha Janus 2019,5000,NaN,125.0,2019,40,525,2,1,14

In [37]:
completedposts.to_csv("PostCompleted.csv")